<widget id="com.example.hello" version="1">
        <name>Salary</name>
        <description>
			First try Phone Gap
        </description>
        <author email="bhaihaqi@gmail.com" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
    
		<icon src="images/icon.png" />
		 <splash src="images/sekolah.jpg" />
</widget>